{{#with service}}
<div class="card text-bg-success m-2">
    <div class="card-body text-center">
        <h2 class="text-center ms-1">{{title}}</h2>
        <p class="ms-1 text-center">{{description}}</p>
        {{#each buttons}}
        <a href="{{link}}" class="btn btn-primary text-right">{{text}}</a>
        {{/each}}
    </div>
</div>
{{/with}}